{% extends "base.html" %}

{% block content %}
<div>
    <h1>Learning Space Articles</h1>
</div>
<div>
    Navbar<br>
    <a href="/">Learning Spaces</a>
    >
    <a href="/learning-space/{{ learning_space.id }}">{{ learning_space.name }}</a>
</div>
<div>
    <h2>Articles of {{ learning_space.name }}</h2>
    <div><a href="/learning-space/update/{{ learning_space.id }}">Edit Learning Space!</a></div>
    <div><a href="/learning-space/delete/{{ learning_space.id }}">Delete Learning Space!</a></div>
    <div><a href="/article/create/in/{{ learning_space.id }}">Create Article!</a></div>
    <table>
        <tr>
            <th>Like Count</th>
            <th>Title</th>
            <th>Author</th>
            <th>Modified at</th>
        </tr>
        {% for article in articles %}
        {{ article }}
        <tr>
            <td>{{ article.like_count }}</td>
            <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
            <td>{{ article.author.user.username }}</td>
            <td>{{ article.modified_at }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}