{% extends "base.html" %}

{% block content %}
<h1>Homepage</h1>
<body style="background-color: light-grey;">
{% if user.is_authenticated %}
Hi {{ user.username }}!
Here are your spaces:
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
or <a href="{% url 'signup_page_url' %}">Sign Up</a>
{% endif %}
</body>
{% endblock content %}
