{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'app_article.js' %}"></script>

<div>
    <h1>Learning Space Articles</h1>
</div>
<div>
    Navbar<br>
    <a href="/">Learning Spaces</a>
    >
    <a href="/learning-space/{{ article.learning_space.id }}">{{ article.learning_space.name }}</a>
    >
    <a href="/article/{{ article.id }}">{{ article.title }}</a>
</div>
<div>
    <h2>Posts of {{ article.title }}</h2>
    <div><a class="button-link href="/article/update/{{ article.id }}">Edit Article!</a></div>
    <div><a class="button-link href="/article/delete/{{ article.id }}">Delete Article!</a></div>
    <div>
        <button id="showHidePostFormButton" onclick="showHidePost()">Write Post!</button>
        <div id="postForm" style="display: none;">
            <form method="post">
                {% csrf_token %}
                {{ post_form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <table>
        <tr>
            <td>
                <table>
                    <tr><td>{{ article.like_count }}</td></tr>
                    <tr><td>{{ article.author.profile_picture }}</td></tr>
                    <tr><td>{{ article.author.user.username }}</td></tr>
                    <tr><td>{{ article.created_at }}</td></tr>
                    {% if article.created_at != article.modified_at %}
                    <tr><td>Modified at: <br>{{ article.modified_at }}</td></tr>
                    {% endif %}
                </table>
            </td>
            <td>
                {{ article.body }}
            </td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>
                <table>
                    <tr><td>{{ post.like_count }}</td></tr>
                    <tr><td>{{ post.author.profile_picture }}</td></tr>
                    <tr><td>{{ post.author.user.username }}</td></tr>
                    <tr><td>{{ post.created_at }}</td></tr>
                    {% if post.created_at != post.modified_at %}
                    <tr><td>Modified at: <br>{{ post.modified_at }}</td></tr>
                    {% endif %}
                </table>
            </td>
            <td>
                {{ post.body }}
            </td>
            <td>
                <a href="/post/update/{{ post.id }}">Edit</a><br>
                <a href="/post/delete/{{ post.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}