body {
    background-color: #e8f0f4;
}

.space {
    display: block;
    font-size: 26px;
    background-color: blue;
}

.header {
    background-color: darkOrange;
    border-radius: 10px;
    color: white;
    font-family: 'Sofia';
    margin-bottom: 10px;
    text-decoration: none;
}

.header #main {
    font-size:56px;
    margin-left:10px;
    margin-bottom:0px;
}

.header #subtext {
    font-size:20px;
    margin-left:16px;
    margin-top:0px;
    padding-bottom:10px;
}

#navbar ul {
    background-color: #4d4d4d;
    padding: 0px;
}

#navbar li {
    display: inline-block;
    padding: 0px;
}

#navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 40px 20px
}

#navbar li form {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 40px 20px;
    margin: 0px;
}

#navbar li.float-right {
    float: right;
}

#navbar li.button {
    border-right:1px solid #bbb;
}

#navbar li.button:hover {
    background: green;
}


table {
    width: 100%;
    font-weight: bold;
}

tr {
    color: #5f035f;
    border: 1px solid #dadae7;
    height: 110px;
    margin: 20px 5px;
    display: block;
    box-shadow: 10px 10px 10px #bebed9;
}

tr:hover {
    box-shadow: 10px 10px 10px #a1a1b9;
    cursor: pointer;
}

.img-col {
    width: 100px;
}

img {
    width: 100px;
}

a.button-link {

    color: purple;
    text-decoration: none;
    border: 1px solid purple;
    padding: 10px;
    border-radius: 4px;
}

a.button-link:hover {

    color: white;
    background-color: purple;
    transition: 0.3s;
}