body {
    background-color: #e8f0f4;
}

.space {
    display: block;
    font-size: 26px;
    background-color: blue;
}

.header {
    background-color: #65496c;
    border-radius: 10px;
    color: white;
    font-family: 'Sofia';
    margin-bottom: 10px;
    text-decoration: none;
}

.header #main {
    font-size:56px;
    margin-left:10px;
    margin-bottom:0px;
}

.header #subtext {
    font-size:20px;
    margin-left:16px;
    margin-top:0px;
    padding-bottom:10px;
}

#navbar ul {
    background-color: #65496c;
    padding: 0px;
    border-radius: 10px;
}

#navbar li {
    display: inline-block;
    padding: 0px;
}

#navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 40px 20px
}

#navbar li form {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 40px 20px;
    margin: 0px;
}

#navbar li.float-right {
    float: right;
}

#navbar li.button {
    border-right:1px solid #e8f0f4;
    border-left:1px solid #e8f0f4;
}

#navbar li.button:hover {
    background: purple;
}

table.simple-table {
    width: 100%;
    font-weight: bold;
}

table.simple-table tr {
    color: #5f035f;
    border: 1px solid #dadae7;
    height: 110px;
    margin: 20px 5px;
    display: block;
    box-shadow: 10px 10px 10px #bebed9;
}

table.simple-table tr:hover {
    box-shadow: 10px 10px 10px #a1a1b9;
    cursor: pointer;
}

table.simple-table .img-col {
    width: 100px;
}

table.simple-table img {
    width: 100px;
}

a.button-link {
    display: inline-block;
    color: purple;
    text-decoration: none;
    border: 1px solid purple;
    padding: 10px;
    border-radius: 4px;
    margin: 4px;
}

a.button-link:hover {

    color: white;
    background-color: purple;
    transition: 0.3s;
}

table.complex-table .img-col {
    width: 100px;
}

table.complex-table img {
    width: 100px;
}

table.complex-table {
    border-collapse: collapse;
}

table.complex-table > tbody > tr {
    color: #5f035f;
    border: 1px solid #dadae7;
    margin: 20px 5px;
    display: block;
    box-shadow: 10px 10px 10px #bebed9;
}

table.complex-table > tbody > tr > td{
    border: 1px solid #dadae7;
}

table.complex-table {
    width: 100%;
}

table.complex-table > tbody > tr {
    display: block;
    margin-top: 10px;
}

table.complex-table > tbody > tr > td:nth-child(2){
    width: 85%;
}

table.complex-table > tbody > tr > td:nth-child(3){
    width: 15%;
}

table.profile-table {
    width: 100%;
    font-weight: bold;
}

table.profile-table tr {
    color: #5f035f;
    border: 1px solid #dadae7;
    margin: 20px 5px;
    display: block;
    box-shadow: 10px 10px 10px #bebed9;
}

table.profile-table .img-col {
    width: 100px;
}
